@mixin scrollbar($background: transparent, $thumb: #{rgba($black, .5)}, $thumb-hover: #{$black}, $thickness: 0) {
  &::-webkit-scrollbar {
    width: calc(10px + #{$thickness});
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $background;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $thumb;
    border-radius: 2rem;
    border: $thickness $background solid;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thumb-hover;
  }
}
