/* Fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Slide */
.slide-enter-active {
  overflow: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave-from {
  max-height: 100vh;
  overflow: hidden;
}

.slide-leave-to,
.slide-enter-from {
  overflow: hidden;
  max-height: 0;
}

/* Page */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s ease;
  transition-delay: 2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transition-delay: 2s;
}

/* Nav transition */
.nav-enter-active,
.nav-leave-active {
  transition: transform 0.5s ease;
}

.nav-enter-from,
.nav-leave-to {
  transform: translateY(-100%);
}
